/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

$blue: #499DF3;
$grey: #505050;
$light_grey: #9c9c9c;
$dark_grey: #3c3c3c;
$red: #e13b8d;

body {
background-color: #efefef;
color: $grey;
-webkit-font-smoothing: antialiased;
	h1,h2,h3,h4,h5,h6 {
		font-family: 'Oswald', sans-serif;
	}
	p, a {
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
    line-height: 1.58;
	}
  a {
    &:hover {
    color: $blue;
    background-color: transparent;
  }
  }
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.blue {
	color: $blue;
}

.white {
	color: white;
}
.up {
	text-transform: uppercase;
}

button {
	transition: background-color .25s linear;
  font-size: 14px;
  min-width: 160px;
  border-radius: 20px;
  padding: 11px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 1rem;
  background-color: transparent;
}

.button_blue {
	color: $blue;
	border: solid 2.5px $blue;
	&:hover {
    color: white;
    background-color: $blue;
  }
}

.button_grey {
	color: $grey;
	border: solid 2.5px $grey;
	&:hover {
    color: white;
    background-color: $grey;
  }
}

hr {
  border-width: 1.8px;
  max-width: 200px;
}
hr.light {
  border-color: white;
}

hr.lefty {
  border-color: $grey;
   border-width: 1.8px;
  max-width: 100px;
  margin-left: -.7rem;
}

hr.blue {
  border-color: $blue;
}

#formario {
	padding: 3rem 5rem;
	background-color: white;
	/*border: 1px solid rgba(0,0,0,.09);*/
	border-radius: 3px;
	margin: 0 0;
	h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 1.2em;
		margin-bottom: 0;
	}
	input[type="submit"] {
		transition: background-color .25s linear;
  font-size: 15px;
  min-width: 200px;
  border-radius: 2px;
  padding: 5px 2px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 1rem; 
  background-color: transparent;
 	color: $blue;
	border: solid 2px $blue;
	margin-top: 4rem;
	display: block;
  margin: 0 auto;
	&:hover {
    color: white;
    background-color: $blue;
  }

	}
	input[type="name"], input[type="email"], input[type="number"], input[type="date"], input[type="text"], input[type="password"], textarea {
	width: 100%;
	height: 3.5rem;
	border:none;
  border-bottom:1px solid #757575;
  margin-bottom: 1.5srem;
  background-color: white !important;
	}
  textarea {
    height: 30rem !important;
  }
	label {
	margin-top: 1rem;
	font-weight: 900;
	text-align: center;
		text-transform: uppercase;
		font-size: 1em;
}
	a {
		color: $blue;
		font-size: 1em;
	}
	em {
		margin-top: 4rem;
	}
	table {
		margin-top: 2rem;
	}
	th {
		padding: 0 2rem 0 0;
	}
}

#formariol {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			padding: 2rem;
			border: 3px solid $blue;
			margin: 2rem 5px;
		}
	}
}

#dashboard {
	text-align: center;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
			margin: 0 1rem;
		}
	}
}

#entrada {
	text-align: center;
	
}

#logos {
	margin-top: 1rem;
	text-align: center;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
			margin: 0 1rem;
			img {
				width: 80px;
			}
		}
	}
}

menu {
	text-align: center;
}

ul.topnav {
    list-style-type: none;
    /*margin: 0;*/
    padding: 0;
    overflow: hidden;
    display: table;   /* Allow the centering to work */
		margin: 0 auto;
}

/* Float the list items side by side */
ul.topnav li {
	display: inline;
	margin: .5rem;
	/*float: left;*/
}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: $dark_grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: solid 8px transparent;
}

/* Change background color of links on hover */
.e a:hover {border-bottom: solid 8px $red;}

.o a:hover {border-bottom: solid 8px #351D52;}

.dt a:hover {border-bottom: solid 8px #247471;}

.a a:hover {border-bottom: solid 8px #F1AD06;}

.sd a:hover {border-bottom: solid 8px #F0742E;}

.i a:hover {border-bottom: solid 8px #BF2623;}

.c a:hover {border-bottom: solid 8px #BF2D83;}




/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:950px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:950px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}